
@charset "utf-8";
/*要素のフォントサイズやマージン・パディングをリセットしています*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
	background: #ffffff;
	color:#000000;
}
.nakami {
	width: 52%;
	height: auto;
	margin-top: 6em;
	margin-left: 24%;
	margin-right: 24%;
}
.titele {
	font-size: 29px;
	font-family: YuMincho, "Yu Mincho", serif;	
	padding: 1em 0;
	font-weight: bold;
}
.titele span {
	color: antiquewhite;
	font-size: 1.2em;
}
.box13 {
    padding: 0.5em 1em;
    margin-left: auto;
	margin-right: auto;
    color: #00000;
	width: 40%;
	height: auto;
	text-align: center;
    background: #FFF;
    border-radius: 9px;
}
.box13 p {
    margin: 0; 
    padding: 0;
}
.diary img {
	width: 30%;
	padding: 0.5em;
	height: auto;
}
.coram {
	color: white;
	width: 52%;
	height: auto;
	margin-left: 24%;
	padding: 0.5em 0 ;
	color:#000000;
}
.sirase {
	font-size: 1.1em;
}
footer {
	height: 100px;
}
@media screen and (max-width: 640px) {
.nakami {
	width: 95%;
	height: auto;
	margin-top: 2em;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.slider{
    margin: 100px auto;
    width: 80%;
}
.slider img{
    height: auto;
    width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
.box13 {
	width: 50%;

}
.diary {
		margin-left: auto;
		margin-right: auto;
	}
.diary img {
	width: 44%;
	padding: 0.5em;
	height: auto;
}

}
    
    
    
